
.k-font {
    /*200,400,400i,700*/
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 71px;
  font-weight: 200;
  letter-spacing: 3px;
}

h1 + p {
  font-size: 28px;
}

p {
  font-size: 19px;
  line-height: 1.47em;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

h2 + small {
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 40px;
  display: block;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  color: #444;
}

a.k-link-twitter {
  font-size: 11px;
  display: block;
  float: right;
  margin: 8px 0;
}

address {
  font-size: 14px;
  line-height: 1.47em;
}

section, header {
  margin: 80px 0 40px 0;
}

article {

}

section#k-superpowers, section#k-partners, footer {
  text-align: center;
}

.container {
  max-width: 920px;
  margin: auto;
  padding: 0 5vw 0 5vw;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex article {
  flex-grow: 1;
}

/* ELEMENTS */

.k-img {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  transform: rotate(-7deg);
  max-width: 320px;
  float: left;
  margin: 0 40px 40px 0;
}

.k-img img {
  border-radius: 4px;
  max-width: 100%;
}


/* SECTIONS */

section#k-superpowers article {
  width: calc(25% - 20px);
}

section#k-partners article {
  width: 100%;
  padding: 20px 0;
}

section#k-partners article h3 {
  color: white;
  text-align: left;
}

section#k-partners article p {
  color: white;
  text-align: left;
}

section#k-partners figure {
  margin-right: 40px;
  margin-bottom: 20px;
  float: left;
  height: 100%;
  width: 230px;
  min-height: 160px;
  line-height: 100%;
}

section#k-partners figure img {
  max-height: 100%;
  max-width: 100%;
}

article.k-datapedia {
  background-color: #31343D;
}

article.k-datapedia a {
  color: #00A19B;
}

article.k-vios {
  background-color: #dce6f8;
  color: #444344;
}

article.k-vios h3 {
  color: #444344 !important;
}

article.k-vios p {
  color: #444344 !important;
}

article.k-vios a {
  color: #0b72cd;
}

article.k-humancode {
  background-color: white;
}

article.k-humancode h3 {
  color: #F06D61 !important;
}

article.k-humancode p {
  color: #444344 !important;
}

article.k-humancode a {
  color: #F06D61;
}

hr {
  border: 0;
  margin: 10px 0;
  height: 7px;
  background: rgb(254,154,61);
  background: linear-gradient(90deg, rgba(254,154,61,1) 0%, rgba(116,39,71,1) 33%, rgba(56,118,29,1) 66%, rgba(11,83,148,1) 100%);
  clear: bottom;
  width: 100%;
  overflow: auto;
}

hr::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  padding: 40px 0;
  border-top: 7px solid rgb(8, 69, 122);
  background: rgba(11,83,148,1);
  color: white;
}