html {
    height: 100%;
}

body {
    color: #444;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e5e2e8;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));
    max-height: 100%;
    animation: minha-animacao 6s alternate infinite;

}

@keyframes minha-animacao {
    from {
        background-color: #e0e1e8;
    }
    to {
        background-color: #e8e6c0;
    }
}

header {
    margin-top: 180px;
}

h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font-weight: normal;
}

.services {
    font-size: 19px;
}

.services a, .services a:active, .services a:visited {
    text-decoration: none;
    color: #777;
}

.services a:hover {
    color: #444;
    transition: color 0.4s;
}



.services span {
    padding: 0 10px 0 10px;
}